h2{
      /*color : hsl(181, 100%, 60%);*/
    font-family : cursive;
    line-height: 50%;
    margin: 1px;
    font-size: 100%;
    padding: 5px;
    border: blue;
    border: solid;
    color: blue;
    display: inline-block;
    text-align: left;
    }

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    color: greenyellow;
    text-align: center;
    background-color: purple;
    margin : 10px;
    border: solid;
    color: pink;

}
nav
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 170%;
    color: greenyellow;
    text-align: center;
    background-color: red;
    border: blue;
    border : groove;
}
body
{
    background-color: black;
    padding: 0px;
    
    
    
}
ul,label,footer
{
    color: white;
    margin: 10px;

}
details
{
    color: white;
    padding: 0px;
    
}
hr
{
color: black;
}
progress
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    color: skyblue;
    background-color: red;
    border: blue;
    border: solid;    
}
section
{
    width: 20%;
    display: inline-block;
}